html {
  background: dodgerblue;
  /*
  #121922
  #1e43ff
  */
}

body {
  background: #121922;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.heading {
  z-index: 10;
}

.Starlink-Constellation {
  margin: auto;
  width: 90%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* .Starlink-Constellation {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 11in 1.25in [end] 0.5in 1fr;
}

.Starlink-Constellation * {
  grid-column: start/end;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: 0px;
  padding: 10px;
  background-color: dodgerblue;
  box-shadow: 0px -10px 60px dodgerblue;
  z-index: 10;
  position: relative;
}

#footer-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.0125rem;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
  padding: 5px;
}

.footer-left {
  display: flex;
  justify-content: center;
}

.footer-left > div a {
  text-decoration: none;
  color: white;
  padding: 6px;
}

.footer-right {
  display: flex;
  justify-content: center;
}

.footer-right > div a {
  text-decoration: none;
  color: white;
  padding: 6px;
}

.github {
  font-size: 24px;
}

.python {
  font-size: 24px;
}

.instagram {
  font-size: 24px;
}

.twitter {
  font-size: 24px;
}
